# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment-specific files

# Ignore database file
db.sqlite3

# Ignore migration file
# */migrations/0001_initial.py
# */migrations/0002_initial.py
# */migrations/0003_like.py
*/migrations/*

## media folder ignore
media